#include <windows.h>
#include "resources.h"

IDI_MYICON ICON "stunnel.ico"

IDM_TRAYMENU MENU
BEGIN
    POPUP "Ooops?"
    BEGIN
        MENUITEM "&About", IDM_ABOUT
        MENUITEM "&Log", IDM_LOG
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_EXIT
    END
END

IDM_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Save As", IDM_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "&Close", IDM_CLOSE
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About", IDM_ABOUT
//        MENUITEM "S&etup", IDM_SETUP
    END
END

ABOUTBOX DIALOG DISCARDABLE  100, 100, 167, 36
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "About stunnel"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,132,2,32,14,WS_GROUP
    ICON            IDI_MYICON,-1,8,6,18,20
    LTEXT           "stunnel version 4.01",-1,30,2,102,8
    LTEXT           "© by Michal Trojnara 2002",-1,30,10,102,8
    LTEXT           "All Rights Reserved",-1,30,18,102,8
    LTEXT           "Licensed under the GNU GPL version 2",-1,3,26,130,8
END

