#include <windows.h>
#include "resources.h"

IDI_MYICON ICON "stunnel.ico"

IDM_TRAYMENU MENU
BEGIN
    POPUP "Ooops?"
    BEGIN
        MENUITEM "&About", IDM_ABOUT
        MENUITEM "&Log", IDM_LOG
        MENUITEM SEPARATOR
        MENUITEM "E&xit", IDM_EXIT
    END
END

IDM_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Save As", IDM_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "&Close", IDM_CLOSE
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About", IDM_ABOUT
//        MENUITEM "S&etup", IDM_SETUP
    END
END

ABOUTBOX DIALOG DISCARDABLE  0, 0, 167, 36
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About stunnel"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,132,2,32,14,WS_GROUP
    ICON            IDI_MYICON,-1,8,6,18,20
    LTEXT           "stunnel version 4.05",-1,30,2,102,8
    LTEXT           "© by Michal Trojnara 2004",-1,30,10,102,8
    LTEXT           "All Rights Reserved",-1,30,18,102,8
    LTEXT           "Licensed under the GNU GPL version 2",-1,3,26,130,8
END

PASSBOX DIALOG DISCARDABLE 0, 0, 158, 51
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION ""
BEGIN
    ICON            IDI_MYICON,-1,8,6,18,20
    LTEXT           "Pass phrase:",-1,33,11,45,8
    EDITTEXT        IDE_PASSWORDEDIT,81,7,70,12,ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,7,30,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,101,30,50,14
END

